# https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#_ignoring

#visual studio and visual studio code
**/bin/
**/.vs/
**/Debug/
**/obj/

#vivado
**/*.jobs/
**/*.cache/
**/*.runs/
**/*.ip_user_files/
**/*.hw/
**/*.sim/sim_1/

#modelsim
**/_lib*.qdb
**/_lib*.qtl
**/_lib*.qpg
**/_info
**/_vmake